<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel Execution" verbose="0" parallel="tests" thread-count="5">


	<test name="Login Registration On Firefox">
		<parameter name="browser" value="Firefox" />
		
			
		<classes>
		    <class name="com.wavemakerstudio.tests.Login_Test" />
			
		</classes>
	</test>


<test name="Login Failure On Firefox">
		<parameter name="browser" value="Firefox" />
		
			
		<classes>
		    
			<class name="com.wavemakerstudio.tests.Login_Fail_Test" />
		</classes>
	</test>

</suite> 
